*.lock
compose/data
*.log
*.code-workspace
**/node_modules
**/*.origin
node_modules
.idea
.vscode
**/venv
**/__pycache__
**/target
tmp/
**/.project
**/.settings
**/.classpath
*.zip
**/*.key
**/.metadata
.metals/*.db
delivery/livraison_courante/*
delivery/livraison_precedente/*
**/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_bac/csv/*
**/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_bac/orc/*
**/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_prod/csv/*
**/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_prod/orc/*
**/components/spark/spark-events/*
**/target/***/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_bac/csv/*
**/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_bac/orc/*
**/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_prod/csv/*
**/src/test/resources/Local/app/ExecuteDechetRefAnalysis/Input/latest_ref_prod/orc/*
**/target/*
*.iml
*.ipr
*.iws
